<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Starbucks Shift Management Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (User.IsInRole("Admin"))
    {

        <div class="navbar navbar-default" role="navigation" id="topnavbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-left"><img src="https://vignette1.wikia.nocookie.net/logopedia/images/1/1a/Starbucks_logo_2011.png/revision/latest?cb=20120721153544" style="height:50px;padding-right:10px;"></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Shift Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Edit Shifts", "Index", "Shifts")</li>
                        <li>@Html.ActionLink("Edit Stores", "Index", "Stores")</li>
                        <li>@Html.ActionLink("Edit Users", "Index", "Profile")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")

                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - EJ Bonino and Luke McCubbins.</p>
                <p> All Starbucks logos are property of Starbucks Coffee Company. This website is for educational purposes only.</p>
            </footer>
        </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    }
    else if (User.IsInRole("Manager"))
    {

        <div class="navbar navbar-default" role="navigation" id="topnavbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-left"><img src="https://vignette1.wikia.nocookie.net/logopedia/images/1/1a/Starbucks_logo_2011.png/revision/latest?cb=20120721153544" style="height:50px;padding-right:10px;"></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Shift Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Post Shift", "Create", "Shifts")</li>
                        <li>@Html.ActionLink("Manage Shifts", "ManageShifts", "Shifts")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")

                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - EJ Bonino and Luke McCubbins.</p>
                <p> All Starbucks logos are property of Starbucks Coffee Company. This website is for educational purposes only.</p>
            </footer>
        </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    }
    else
    {
        <div class="navbar navbar-default" role="navigation" id="topnavbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-left"><img src="https://vignette1.wikia.nocookie.net/logopedia/images/1/1a/Starbucks_logo_2011.png/revision/latest?cb=20120721153544" style="height:50px;padding-right:10px;"></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Shift Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Post Shift", "Create", "Shifts")</li>
                        <li>@Html.ActionLink("Cover Shift", "OpenShiftList", "Shifts")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")

                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - EJ Bonino and Luke McCubbins.</p>
                <p> All Starbucks logos are property of Starbucks Coffee Company. This website is for educational purposes only.</p>
            </footer>
        </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    }

</body>

</html>